
{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Driving School Alex</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'site/style.css'%}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap" rel="stylesheet">
        <style>
            .div-main{
                width: 1000px;
                height: auto;
                margin-left: 100px;
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 20px;
                display: block;
            }
            .div-1{
                width: 800px;
                height: auto;
                padding: 20px;
                display: inline-block;
            }
        </style>
    </head>
    <body>
        <div class="top">
            <div class="navbar">
                <div class="cname">
                    <i class="fa fa-university"></i> &nbsp;&nbsp;<span class="f">DRIVE ALEX</span> 
                </div>
                <div class="menu">
    
                    <ul>
                        <li><a href="/Drive-school">Home</a></li>
                        <li><a href="/services">Services</a></li>
                        <li><a href="/Teachers">Teachers</a></li>
                        <li><a href="/Gallery">Gallery</a></li>
                        <li><a href="/About">About us</a></li>
                        <li><a href="/Contact"><span class="w">Contact us</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="div-main">
            <h1>Our contacts</h1>
            
            <div class="div-1">
                <h1>BIH</h1>
                <p>You can contact us from our Bosnian numbers</p>
                <ul>
                    <li>061-089-678</li>
                    <li>062-089-667-22</li>
                    <li>063-089-677</li>
                    <li>064-687-344</li>
                </ul>
            </div>
            <div class="div-1">
                <h1>Facebook</h1>
                <p>You can contact us in our  Facebook page </p>
                <p><strong><a href="#">Drive-school</a></strong></p>
            </div>
            <div class="div-1">
                <h1>X</h1>
                <p>You can contact us in our  X Platforms </p>
                <p><strong><a href="#">Drive-school</a></strong></p>
            </div>
            <div class="div-1">
                <h1>Instagram</h1>
                <p>You can contact us in our  Facebook Platform </p>
                <p><strong><a href="#">Drive-school</a></strong></p>
            </div>
            <div class="div-1">
                <h1>Hotmail</h1>
                <p>You can contact us in our  Facebook page </p>
                <p><strong><a href="#">Drive-school@hotmail.com</a></strong></p>
            </div>
            <div class="div-1">
                <h1>Teachers Contacts</h1>
                <p>If  you need  you can contact one of our teachers ther numbers  </p>
               <ul>
                  
                   <li>Alfa1 Omega1<br> (063)-0978-333</li>
                  
                   <li>Alfa2 Omega2<br> (031)-867-322</li>
                   
                   <li>Alfa3 Omega3 <br> (066)-456-333</li>
                   
                   <li>Alfa4 Omega4 <br>(067)-678-555</li>
               </ul>
            </div>
        </div>

    </body>
    <footer>
        <h4>COPYRIGHT &COPY; Amar_H This page is for education about creating pages. This page is part of the Django Education Project</h4>
    </footer>
            
</html>
